<!-- Jumbotron / Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Snap Receipts</h1>
    <h3>Manage Your Expenses Digitally</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>

<!-- About Page -->
<div id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
        <p class="lead">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</div>

<!-- Services -->
<div id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>How It Works</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-file-text-o fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>Organize Receipts</strong></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-camera-retro fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>Take a Picture</strong></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-picture-o fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>Scan Image</strong></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-database fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>Database</strong></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Snap Receipts Ltd.</strong></h4>
        <p>88 West Pender St.<br>Vancouver, BC</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (604) 559-2633</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>
            <a href="mailto:contact@snapreceipts.com">contact@snapreceipts.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Snap Receipts 2015</p>
      </div>
    </div>
  </div>
</footer>



