/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require selectize
 *= require selectize.bootstrap2
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$font-family-sans-serif: 'Lato', sans-serif;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body .btn {
  border-radius: 0;
}

body .modal-dialog {
  /* new custom width */
  width: 800px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    .btn {
      border-radius: 25px;
    }
  }

  .btn-xs {
    background-color: white;
    color: #535353;
    transition: all 0.4s ease 0s;
  }
  .btn-xs:hover {
    background-color: #fe001a;
    color: white;
    transition: all 0.4s ease 0s;
  }
}

.modal-columns {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  border: 1px solid purple;
}

.dev-test {
  border: 1px solid orange;
}

.receipt-box {
  height: 200px;
  width: 200px;
  display: inline-block;
  background-color: rgba(253,123,17,0.1);
}

.receipt-form {
  padding: 20px;
}

.carrier-wave-field input {
  height: 40px;
  width: 100%;
  background-color: rgba(253,123,17,0.1);
  border: 1px solid orange;
}


