/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require selectize
 *= require selectize.bootstrap2
 *= require animate
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
// @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$brand-primary: #07346F;
$brand-success: #047A4A;
$brand-danger: #980905;
$font-family-sans-serif: 'Oxygen', sans-serif;
// $font-family-sans-serif: 'Lato', sans-serif;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #337AB7;
  font-family: 'Oxygen', sans-serif;
}

body .btn {
  border-radius: 0;
}

body .modal-dialog {
  /* new custom width */
  width: 800px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    .btn {
      border-radius: 25px;
    }
  }

  .btn-xs {
    background-color: white;
    color: #535353;
    transition: all 0.4s ease 0s;
  }
  .btn-xs:hover {
    background-color: #fe001a;
    color: white;
    transition: all 0.4s ease 0s;
  }
}

.report-header {
  background-color: #FFF;
  h1, h2, h3, h4, hr {
    color: $brand-primary;
  }
  p {
    font-size: 16px;
  }
  .my-btn {
    width: 160px;
  }
}

.header-display {
  display: inline-block;
}

.header-container {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  border-bottom: 1px solid $brand-primary;
  padding-bottom: 10px;
  h1 {
    padding: 0;
    margin-top: 15px;
  }
  div {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }
}

.header-icon {
  width: 110px;
  height: 100px;
  border: 5px solid $brand-success;
  border-radius: 25px;
  color: $brand-success;
  position: relative;
  margin-right: 20px;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.report-form-container {
  padding: 10px;
}
.modal-box {
  border: 2px solid $brand-success;
}

.modal-header {
  border-bottom: 2px solid $brand-success;
  background-color: lighten($brand-success, 65%);
  color: $brand-primary;
}

.modal-body {
  background-color: lighten($brand-primary, 75%);
}

.modal-columns {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  // border: 1px solid purple;
}

.dev-test {
  border: 1px solid orange;
}

.form-box {
  border: 3px solid $brand-success;
  background-color: #d9d9d9;
  padding: 30px;
}

a:hover.edit-icon, a:active.edit-icon {
  text-decoration: none;
}

.edit-icon {
  background-color: $brand-success;
  color: white;
  padding: 3px; 
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  height: 34px;
}

.trash-icon {
  background-color: $brand-danger;
  color: white;
  padding: 3px; 
  border-radius: 10px;
  text-align: center;
}


.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.receipt-box {
  height: 350px;
  width: 250px;
  margin: 5px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: $brand-primary;
  // background-color: rgba(253,123,17,0.1);
  background-color: #FFF;
  h5 {
    font-size: 18px;
  }
}

.receipt-form {
  padding: 20px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
// .receipt-loop-container {
//   text-align: center;
// }

.carrier-wave-field input {
  height: 40px;
  width: 100%;
  background-color: rgba(253,123,17,0.1);
  border: 1px solid orange;
}


