<% if @receipt && @receipt.errors.any? %>
  <ul>
    <% @receipt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div id="receipt-form-toggle" class="receipt-form form-box">
    <div class="flash-messages"></div>
      <div class="form">
        <%= render "receipts/form" %>
    </div>
  </div>
</div>
<br>
