<% if @report.errors.any? %>
  <ul>
    <% @report.errors.full_messages.each do |msg| %>
    <li><h3><%= msg %></h3></li>
    <% end %>
  </ul>
<% end %>

<div id="report-form" class="dev-test">
  <div class="flash-messages"></div>
  <div class="form">
    <%= render "form" %>
  </div>
</div>

<script>
  // Add new report form toggle
  $(document).ready(function() {
    var toggled = false;

    var buttonText = {
      true: "Create a New Report",
      false: "Hide Form"
    };

    $("#report-form").hide();
    $("#new-report").on('click', function(){
      toggled = !toggled;

      var text = buttonText[!toggled];

      $("#report-form").slideToggle(toggled);
      $("#new-report").html(text)
        .toggleClass("btn-primary", !toggled)
        .toggleClass("btn-dark", toggled);
    });
  }); //end of document ready
</script>