<div class="container dev-test">
  <h1>Reports#index</h1>
  <p>Find me in app/views/reports/index.html.erb</p>
  <p>THIS VIEW SHOWS ALL THE REPORTS/BUDGETS</p>

  <p><%= link_to "Create a New Report", "javascript:void(0)", id: "new-report", class: "btn btn-primary" %></p>
  <p><%= render "reports/new" %></p>
  <hr>

  <div id="sortable" class="reports">
    <% @reports.each do |report| %>
      <%= render "reports/report", report: report %>
    <% end %>
  </div>
</div>

<script>
  // Drag and drop report sorting
  $(document).ready(function() {
    $(function() {
      $( "#sortable" ).sortable({
        placeholder: "ui-state-highlight"
      });
      $( "#sortable" ).disableSelection();
    });
  }); //end of document ready
</script>

